body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E4EF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    background-color: #fff;
    height: 45vh;
    width: 800px;
    padding: 0px;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

h1 {
    font-size: 2em;
}

main {
    margin: 20px ; 
    height: 200px;
}

.tab-container {
    background-color: #E1E4EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%; 
}


.tab-menu li {
    background-color: #2A324B;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 1px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    flex-grow: 1; 
}

.tab-menu li.active {
    background-color: #fff;
    color: #000 !important; 
}

.tab-menu li a {
    color: inherit; /* Bruk foreldrenes farge*/
    text-decoration: none; /* Fjern understreking fra lenker */
}

.tab-menu li.active a {
    color: #000 !important;  /* Sett skriftfarge til svart for aktiv fane */
}

.tab-menu li a:visited {
    color: #fff; 
}

.resource-details {
    margin: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjusted width for smaller screens */
        height: 65vh;
    }
    .tab-menu {
        flex-wrap: wrap;
    }

    .tab-menu li {
        flex-basis: calc(50% - 10px);
        max-width: none;
        margin-bottom: 10px;
    }
}

