body {
    font-family: 'Montserrat', sans-serif;
    background-color: #58699D;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.container {
    background-color: #fff;
    height: 60%;
    width: 80%; /* Juster bredden på beholderen etter behov*/
    max-width: 950px; 
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
}

main {
    margin: 20px 0; 
}

.tab-container {
    background-color: #58699D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Fordel tappene jevnt over beholderen */
    width: 100%; /* Sørg for at tappene tar hele bredden av beholderen */
}

.tab-menu li {
    flex-basis: calc(20% - 10px); 
    background-color: #2A324B;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    color: #fff; 
    text-align: center; 
}

.tab-menu li.active {
    background-color: #fff;
    color: #000; 
}

.tab-menu li:active {
    background-color: #fff;
    color: black !important; 
}
.tab-menu li a {
    color: inherit; /* Bruk foreldrenes farge*/
    text-decoration: none; /* Fjern understreking fra lenker */
}

.tab-menu li.active a {
    color: #000 !important;  /* Sett skriftfarge til svart for aktiv fane */
}

.tab-menu li a:visited {
    color: #fff; 
}

.resource-details {
    margin: 50px;
}
